<br />
<h2 class="text-center text-uppercase">{{ 'USER.SEARCH' | translate }} </h2>
<br />
<div class="container">
  <div class="row g-2">
    <div class="d-grid col-md gap-3">
      <form class="form-floating" (ngSubmit)="searchUserById()">
        <label for="id">{{ 'ENTER' | translate }}:</label>
        <input type="number" class="form-control" id="id" name="id" required [(ngModel)]="id"
          placeholder="{{ 'ENTER' | translate }}" />
        <div class="col-2 mx-auto p-2">
          <button type="submit" class="btn btn-outline-success">{{ 'SEARCH' | translate }}</button>
        </div>
        <div class="card mx-auto" style="width: 18rem" *ngIf="show">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{user.nickname}}</mat-card-title>
              <mat-card-subtitle>{{user.firstname}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <p>
                  Coins Owned: {{user.coinsOwned}}
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-button (click)="showChangeForm()">{{ 'UPDATE' | translate }}</button>
              <button mat-button mwlConfirmationPopover [popoverMessage]=" 'POPOVER' | translate " placement="right"
                [confirmText]=" 'CONFIRM' | translate " [cancelText]=" 'CANCEL' | translate "
                (confirm)="deleteUser(user)" (cancel)="cancelClicked = true" class="btn btn-outline-danger">{{ 'DELETE'
                | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="container" *ngIf="showChange">
          <div class="row center">
            <form (ngSubmit)="changeUser()">
              <div *ngIf="user">
                <div class="form-group mb-3 row">
                  <label for="id" class="col-sm-5 col-form-label">
                    Id :
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id" name="id" placeholder="id" required
                      [(ngModel)]="user.idUser" disabled />
                  </div>
                </div>
                <!--*************** ATTRIBUTE 2 ***************-->
                <div class="form-group mb-3 row">
                  <label for="nickname" class="col-sm-5 col-form-label">
                    {{ 'NICKNAME' | translate }} :
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nickname" name="nickname"
                      placeholder="{{ 'EXAMPLE.NICKNAME' | translate }}" required [(ngModel)]="user.nickname" />
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC"
                      (change)="nullInputNickname('nickname', 'flexSwitchCheckDefaultC')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 2 ***************-->
                <!--*************** ATTRIBUTE 3 ***************-->
                <div class="form-group mb-3 row">
                  <label for="password" class="col-sm-5 col-form-label">
                    {{ 'PASSWORD' | translate }} :
                  </label>
                  <div class="col-sm-10">
                    <input matInput type="password" class="form-control" id="password" name="password"
                      placeholder="{{ 'EXAMPLE.PASSWORD' | translate }}" required [(ngModel)]="user.password" />
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC2"
                      (change)="nullInputPassword('password', 'flexSwitchCheckDefaultC2')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 3 ***************-->
                <div class="form-group mb-3 row">
                  <label for="firstname" class="col-sm-5 col-form-label">
                    {{ 'FIRSTNAME' | translate }} :
                  </label>
                  <div class="col-sm-10">
                    <input matInput type="firstname" class="form-control" id="firstname" name="firstname"
                      placeholder="{{ 'EXAMPLE.FIRSTNAME' | translate }}" required [(ngModel)]="user.firstname" />
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC3"
                      (change)="nullInputFirstName('firstname', 'flexSwitchCheckDefaultC3')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** ATTRIBUTE 4 ***************-->
                <div class="form-group mb-3 row">
                  <label for="lastname" class="col-sm-5 col-form-label">
                    {{ 'LASTNAME' | translate }} :
                  </label>
                  <div class="col-sm-10">
                    <input matInput type="lastname" class="form-control" id="lastname" name="lastname"
                      placeholder="{{ 'EXAMPLE.LASTNAME' | translate }}" required [(ngModel)]="user.lastname" />
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC4"
                      (change)="nullInputLastName('lastname', 'flexSwitchCheckDefaultC4')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 4 ***************-->
                <div class="form-group mb-3 row">
                  <label for="mail" class="col-sm-5 col-form-label">
                    {{ 'MAIL' | translate }} :
                  </label>
                  <div class="col-sm-10">
                    <input matInput type="mail" class="form-control" id="mail" name="mail"
                      placeholder="{{ 'EXAMPLE.MAIL' | translate }}" required [(ngModel)]="user.mail" />
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC5"
                      (change)="nullInputMail('mail', 'flexSwitchCheckDefaultC5')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 4 ***************-->
                <div class="form-group mb-3 row">
                  <label for="birthDate" class="col-sm-5 col-form-label">
                    {{ 'BIRTHDATE' | translate }} :
                  </label>
                  <div class="col-sm-8">
                    <input matInput type="birthDate" class="form-control" id="birthDate" name="birthDate"
                      placeholder="birthDate" required [matDatepicker]="picker" [(ngModel)]="user.birthDate" />
                  </div>
                  <div class="col-sm-2">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC6"
                      (change)="nullInputBirthDate('birthDate', 'flexSwitchCheckDefaultC6')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 4 ***************-->
                <div class="form-group mb-3 row">
                  <label for="coinsOwned" class="col-sm-5 col-form-label">
                    {{ 'COINSOWNED' | translate }}:
                  </label>
                  <div class="col-sm-10">
                    <input matInput type="coinsOwned" class="form-control" id="coinsOwned" name="coinsOwned"
                      placeholder="{{ 'EXAMPLE.COINSOWNED' | translate }}" required [(ngModel)]="user.coinsOwned" />
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC7"
                      (change)="nullInputCoinsOwned('coinsOwned', 'flexSwitchCheckDefaultC7')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 4 ***************-->
                <div class="form-group mb-3 row">
                  <label for="status" class="col-sm-5 col-form-label">{{ 'STATUS' | translate }}: </label>
                  <div class="col-sm-10">
                    <select class="form-control" id="status" name="status" [(ngModel)]="user.status">
                      <option *ngFor="let status of statuses" value="{{status.value}}">{{status.description}}</option>
                    </select>
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC8"
                      (change)="nullInputStatus('status', 'flexSwitchCheckDefaultC8')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 9 ***************-->
                <div class="form-group mb-3 row">
                  <label for="role" class="col-sm-5 col-form-label"> {{ 'ROLE' | translate }}: </label>
                  <div class="col-sm-10">
                    <select class="form-control" id="role" name="role" [(ngModel)]="user.role">
                      <option *ngFor="let role of roles" value="{{role.value}}">{{role.description}}</option>
                    </select>
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC9"
                      (change)="nullInputRole('role', 'flexSwitchCheckDefaultC9')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
              </div>
              <!--*************** BUTTON ***************-->
              <div class="d-grid col-4 mx-auto">
                <button type="submit" class="btn btn-outline-success">{{ 'SAVE' | translate }}</button>
              </div>
              <!--*************** END BUTTON ***************-->
            </form>
          </div>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
  </div>
</div>