<br />
<h2 class="text-center text-uppercase">{{ 'SYMPHONYINSTRUMENT.LIST' | translate }}</h2>
<br />
<div class="table-responsive text-center">
  <table class="table table-dark table-hover table-bordered border-green">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">{{ 'INSTRUMENTNAME' | translate }}</th>
        <th scope="col">{{ 'SYMPHONYNAME' | translate }}</th>
        <th scope="col">{{ 'TRACK' | translate }}</th>
        <th scope="col">{{ 'POSITION' | translate }}</th>
        <th scope="col">{{ 'STATUS' | translate }}</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <ng-container *ngFor="let symphonyInstrument of symphonyInstruments">
        <tr>
          <th scope="row">{{ symphonyInstrument.idSymphonyInstrument }}</th>
          <td>{{ symphonyInstrument.instrument.name }}</td>
          <td>{{ symphonyInstrument.symphony.name }}</td>
          <td>{{ symphonyInstrument.track }}</td>
          <td>{{ symphonyInstrument.position}}</td>
          <td>{{ symphonyInstrument.status }}</td>
          <td class="buttons" align="center">
            <div class="d-grid gap-2 d-md-block">
              <button 
                type="submit"
                mwlConfirmationPopover
                [popoverMessage]=" 'POPOVER' | translate "
                placement="left"
                [confirmText]=" 'CONFIRM' | translate "
                [cancelText]=" 'CANCEL' | translate "
                (confirm)="deleteSymphony(symphonyInstrument)"
                (cancel)="cancelClicked = true"
                class="btn btn-outline-danger col-md-5 justify-content-center align-items-center"
                data-toggle="popover" title="Delete"
              >
              <mat-icon>clear</mat-icon>
              </button>
              <button
                type="submit"
                (click)="changeSymphony(symphonyInstrument)"
                class="btn btn-outline-success col-md-5 justify-content-center align-items-center floatR"
                data-toggle="popover" title="Update"
                >
                <mat-icon>create</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>