<br />
<h2 class="text-center text-uppercase">Actualización de Achievement</h2>
<br />
<div class="container">
  <div class="row center">
    <form (ngSubmit)="actualizarAchievement()">
      <div *ngIf="achievement">
        <!--*************** ATTRIBUTE 1 ***************-->
        <div class="form-group mb-3 row">
            <label for="id" class="col-sm-2 col-form-label">
              Id :
            </label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="id"
                name="id"
                placeholder="id"
                required
                [(ngModel)]="achievement.idUnlockable"
                disabled
              />
            </div>
        </div>
        <div class="form-group mb-3 row">
          <label for="achievementName" class="col-sm-3 col-form-label">
            Achievement Name :
          </label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Achievement Name"
              required
              [(ngModel)]="achievement.name"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 1 ***************-->
        <!--*************** ATTRIBUTE 2 ***************-->
        <div class="form-group mb-3 row">
          <label for="description" class="col-sm-4 col-form-label">
            Achievement Description :
          </label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
              placeholder="description"
              required
              [(ngModel)]="achievement.description"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 2 ***************-->
        <!--*************** ATTRIBUTE 3 ***************-->
        <div class="form-group mb-3 row">
          <label for="rareness" class="col-sm-4 col-form-label">
            Achievement Rareness :
          </label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="rareness"
              name="rareness"
              placeholder="Achievement Rareness"
              required
              [(ngModel)]="achievement.rareness"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 3 ***************-->
        <!--*************** ATTRIBUTE 4 ***************-->
        <div class="form-group mb-3 row">
          <label for="unlockerType" class="col-sm-2 col-form-label"> Unlocker Type : </label>
          <div class="col-sm-10">
            <select class="form-control" id="unlockerType"  name="unlockerType" [(ngModel)]="achievement.unlockerType">
              <option *ngFor="let unlockerType of unlockerTypes" value="{{unlockerType.value}}">{{unlockerType.description}}</option>
            </select>
          </div>
        </div>
        <!--*************** END ATTRIBUTE 4 ***************-->
        <!--*************** ATTRIBUTE 5 ***************-->
        <div class="form-group mb-3 row">
          <label for="unlockerValue" class="col-sm-4 col-form-label">
            Achievement Unlocker Value :
          </label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="unlockerValue"
              name="unlockerValue"
              placeholder="Achievement Unlocker Value"
              required
              [(ngModel)]="achievement.unlockerValue"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 5 ***************-->
        <!--*************** ATTRIBUTE 6 ***************-->
        <div class="form-group mb-3 row">
          <label for="coinsCost" class="col-sm-4 col-form-label">
            Achievement Coins Cost :
          </label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="coinsCost"
              name="coinsCost"
              placeholder="Achievement Coins Cost"
              required
              [(ngModel)]="achievement.coinsCost"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 6 ***************-->
        <!--*************** ATTRIBUTE 7 ***************-->
        <div class="form-group mb-3 row">
          <label for="icon" class="col-sm-3 col-form-label">
            Achievement Icon :
          </label>
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              id="icon"
              name="icon"
              placeholder="Achievement Icon"
              required
              [(ngModel)]="achievement.icon"
            />
          </div>
        </div>
        <!--*************** END ATTRIBUTE 7 ***************-->
        <!--*************** ATTRIBUTE 8 ***************-->
        <div class="form-group mb-3 row">
          <label for="status" class="col-sm-2 col-form-label"> Status : </label>
          <div class="col-sm-10">
            <select class="form-control" id="status"  name="status" [(ngModel)]="achievement.status">
              <option *ngFor="let status of statuses" value="{{status.description}}">{{status.description}}</option>
            </select>
          </div>
        </div>
        <!--*************** END ATTRIBUTE 8 ***************-->
        <!--*************** ATTRIBUTE 9 ***************-->
        <!--*************** END ATTRIBUTE 9 ***************-->
      </div>
      <!--*************** BUTTON ***************-->
      <div class="d-grid col-4 mx-auto">
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
      <!--*************** END BUTTON ***************-->
    </form>
  </div>
</div>

