<br />
<h2 class="text-center text-uppercase">{{ 'USERUNLOCKABLE.SEARCH' | translate }} </h2>
<br />
<div class="container">
  <div class="row g-2">
    <div class="d-grid col-md gap-3">
      <form class="form-floating" (ngSubmit)="searchUserUnlockableById()">
        <label for="id">{{ 'ENTER' | translate }}:</label>
        <input type="number" class="form-control" id="id" name="id" required [(ngModel)]="id"
          placeholder="{{ 'ENTER' | translate }}" />
        <div class="col-2 mx-auto p-2">
          <button type="submit" class="btn btn-outline-success">{{ 'SEARCH' | translate }}</button>
        </div>
        <div class="card mx-auto" style="width: 18rem" *ngIf="show">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ userUnlockable.unlockedDate }}</mat-card-title>
              <mat-card-subtitle>{{ userUnlockable.idUser }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <p>
                  {{ userUnlockable.status }}
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-button (click)="showChangeForm()">{{ 'UPDATE' | translate }}</button>
              <button mat-button mwlConfirmationPopover [popoverMessage]=" 'POPOVER' | translate " placement="right"
                [confirmText]=" 'CONFIRM' | translate " [cancelText]=" 'CANCEL' | translate "
                (confirm)="deleteUserUnlockable(userUnlockable)" (cancel)="cancelClicked = true"
                class="btn btn-outline-danger">{{ 'DELETE' | translate }}</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="container" *ngIf="showChange">
          <div class="row center">
            <form (ngSubmit)="changeUserUnlockable()">
              <div *ngIf="userUnlockable">
                <div class="form-group mb-3 row">
                  <label for="id" class="col-sm-5 col-form-label">
                    Id :
                  </label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="id" name="id" placeholder="id" required
                      [(ngModel)]="userUnlockable.idUserUnlockable" disabled />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 1 ***************-->
                <!--*************** ATTRIBUTE 2 ***************-->
                <div class="form-group mb-3 row">
                  <label for="unlockedDate" class="col-sm-5 col-form-label">
                    {{ 'UNLOCKEDDATE' | translate }}:
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="unlockedDate" name="unlockedDate"
                      placeholder="Unlocked Date" required [matDatepicker]="picker"
                      [(ngModel)]="userUnlockable.unlockedDate" />
                  </div>
                  <div class="col-sm-2">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC2"
                      (change)="nullInputUnlockedDate('unlockedDate', 'flexSwitchCheckDefaultC2')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 2 ***************-->
                <!--*************** ATTRIBUTE 3 ***************-->
                <div class="form-group mb-3 row">
                  <label for="idUser" class="col-sm-5 col-form-label"> {{ 'USER.NAME' | translate }}: </label>
                  <div class="col-sm-10">
                    <select class="form-control" id="idUser" name="idUsert" [(ngModel)]="userUnlockable.idUser">
                      <option *ngFor="let user of users" value="{{user.idUser}}">{{user.nickname}}</option>
                    </select>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 3 ***************-->
                <!--*************** ATTRIBUTE 4 ***************-->
                <div class="form-group mb-3 row">
                  <label for="idUnlockable" class="col-sm-5 col-form-label"> {{ 'UNLOCKABLE.NAME' | translate }}:
                  </label>
                  <div class="col-sm-10">
                    <select class="form-control" id="idUnlockable" name="idUnlockable"
                      [(ngModel)]="userUnlockable.idUnlockable">
                      <option *ngFor="let unlockable of unlockables" value="{{unlockable.idUnlockable}}">
                        {{unlockable.name}}</option>
                    </select>
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 4 ***************-->
                <!--*************** ATTRIBUTE 6 ***************-->
                <div class="form-group mb-3 row">
                  <label for="status" class="col-sm-5 col-form-label"> {{ 'STATUS' | translate }}: </label>
                  <div class="col-sm-10">
                    <select class="form-control" id="status" name="status" [(ngModel)]=" userUnlockable.status">
                      <option *ngFor="let status of statuses" value="{{status.value}}">{{status.description}}</option>
                    </select>
                  </div>
                  <div class="form-check form-switch col-sm-2 center">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefaultC4"
                      (change)="nullInputStatus('status', 'flexSwitchCheckDefaultC4')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'NULL'| translate }}</label>
                  </div>
                </div>
              </div>
              <!--*************** BUTTON ***************-->
              <div class="d-grid col-4 mx-auto">
                <button type="submit" class="btn btn-outline-success">{{ 'SAVE' | translate }}</button>
              </div>
              <!--*************** END BUTTON ***************-->
            </form>
          </div>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
  </div>
</div>